/*Global*/
* {
    box-sizing: border-box;
}

/*Main*/
header h1 {
    color: olivedrab;
    font-weight: bolder;
    font-family: 'Bangers', cursive, monospace;
    text-align: center;
    font-size: 60px;
    background-color: khaki;
}

nav {
    position: sticky;
    float: left;
    z-index: 0;
}

body h1 {
    color: seagreen;
    font-family: 'Bangers', cursive, monospace;
}

footer li {
    display: inline-block;
    width: 80px;
}

/*Interactive Elements*/
a {
    color: #466995;
    text-decoration: underline;
    cursor: pointer;
}  

a:hover {
    text-decoration: none;
}

a:active {
    color: #25ccb6;
}

a:visited {
    color: #464795;
}

.button {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 5px;
}

.button:hover {
    cursor: pointer;
    background-color: indianred;
}

.button:active {
    margin-top: 5px;
    color: grey;
    box-shadow: 0px 0px;
}