* {
    box-sizing: border-box;
    font-family: Helvetica, monospace;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

html {
    font-size: 22px;
    height: 100%;
}

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
    margin-left: 10px;

}

body {
    text-align: center;
    padding: 0 20px;
    margin: 0;
    height: 100%;
}


header.nav-item {
    text-decoration: underline;
    padding: 0.25em;
    justify-content: flex-end;
}

.headline {
    height: 700px;
    width: 1200px;
    display: flex;
    align-items: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.text {
    width: 100%;
}

.feature {
    width: 1000px;
    margin: 3% 10%;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.content img {
    height: 200px;
    width: 300px;
}

.locations {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    flex: 1 1 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.loc-heading {
    background-image: none;
    background-color: transparent;
    width: 100;
}

.loc-box {
    width: 300px;
    height: 300px;
    align-items: center;
    margin: auto 20px;
}

footer {
    text-align: left;
    margin-left: 20px;
    height: 200px;
}